@import url('https://fonts.googleapis.com/css?family=Abel|Montserrat:700');

h2 {
    font-size: 1rem;
    margin-top: -1.5rem;
    margin-bottom: 3rem;
}

p,a,h3,h4,h5,h6,div,span {
    font-family: 'Abel', sans-serif;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: rgb(0, 188, 212);
}

ul, li {
    font-size: small;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.margin-1rem {
    margin: 1rem;
}

.margin-1rem-top {
    margin-top: 1rem;
}

.margin-2rem {
    margin: 2rem;
}

.padding-1rem {
    padding: 1rem;
}

.title {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.footer {
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.logout {
    font-size: small;
    text-align: center;
}

.year {
    text-align: center;
    font-size: x-small;
}

.error {
    color: #f00;
}

.special-text {
    font-family: 'Monospace';
    font-size: small;
    color: #000;
}

.main-menu {
    margin-bottom: 1.5rem;
}

.contract-done {
    text-align: center;
    background-color: #eee;
}

.contract-done-text {
    font-size: x-small;
    font-weight: bold;
    line-height: 20px;
}

.offer-matched-column {
    float: left;
    height: 100%;
    width: 50%;
}

.column-half {
    float: left;
    width: 50%;
}

@keyframes pulse {
    0% {
        background-color: rgb(0, 188, 212);
    }
    100% {
        background-color: #fff;
    }
}

.action-required {
    animation: pulse 2s ease-in-out infinite;
    animation-direction: alternate;
    background-color: rgb(0, 188, 212);
    border-radius: 5px;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.9;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.top-notification-bar {
    background-color: rgb(0, 188, 212);
    cursor: pointer;
    text-align: center;
    animation-duration: 4s;
    animation-fill-mode: both;
}

.tx-link {
    text-decoration: none;
    font-size: x-small;
    text-align: center;
    color: #000;
}

.tx-link-shadow {
    text-decoration: none;
    font-size: x-small;
    text-align: center;
    color: #aaa;
}

// Flexbox

.flex-grid {
    display: flex;
}
.flex-grid .col {
    flex: 1;
}
.flex-grid-thirds {
    display: flex;
    justify-content: space-between;
}
.flex-grid-thirds .col {
    width: 32%;
}

@media (max-width: 400px) {
    .flex-grid,
    .flex-grid-thirds {
        display: block;
        .col {
            width: 100%;
            margin: 0 0 10px 0;
        }
    }
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

// Overlay

.noscroll {
    overflow: hidden;
    position: relative;
    background-color: #f00;
}

[aria-hidden="true"] {
    width: 100%;
    z-index: -1;
    opacity: 0;
}

[aria-hidden="false"] {
    width: 100%;
    z-index: 1;
    opacity: 1;
}